<footer class="footer-section text-lg" style="font-family: 'Times New Roman', serif;">
  <div class="footer-container">
    <div class="footer-about">
      <img src="assets/images/main-logo .svg" alt="Accric Logo" class="footer-logo" />
      <p class="w-[550px]">
        Accric is synthesis of "Accuracy" and "Adherence," working to signify
        precision and commitment in managing businesses governance, risk,
        assurance & compliances management by integration of people, process and
        technology.
      </p>
    </div>

    <div class="footer-links text-lg">
      <h3>QUICK LINKS</h3>
      <ul>
        <li><a class="text-lg font-semibold text-[17px]" routerLink="/home">Home</a></li>
        <li><a class="text-lg font-semibold text-[17px]" routerLink="/about">About Us</a></li>
        <li><a class="text-lg font-semibold text-[17px]" routerLink="/why-accric">Why Accric?</a></li>
        <li><a class="text-lg font-semibold text-[17px]" routerLink="/services/governace-risk">Services</a></li>
        <li><a class="text-lg font-semibold text-[17px]" routerLink="/contact-us">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer-address text-lg">
      <h3>ADDRESS</h3>
      <ul>
        <li class="text-lg font-semibold text-[17px]" ><i class="fa fa-map-marker"></i><br> USA || India || UAE</li><br>
        <li class="text-lg font-semibold text-[17px]" ><i class="fa fa-phone"></i><br>+1 (334) 372-1976</li>
        <li class="text-lg font-semibold text-[17px]" > +971-54 393 2510</li><br>
        <li class="text-lg font-semibold text-[17px]" ><i class="fa fa-envelope"></i><br> info@accric.com</li>
      </ul>
    </div>
  </div>

  
  <div class="footer-bottom">
  <p>© {{ currentYear }} Accric. All Rights Reserved.</p>
</div>
</footer>
