.footer-section {
  background: #fff;
  padding: 80px 0;
  border-top: 1px solid #eee;

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 40px;

    @media (max-width: 992px) {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  .footer-logo {
    width: 310px;
    margin-bottom: -5px;
    
  }

  .footer-about {
    color: #9ca6bf;
    line-height: 1.7;
    font-size: -1.08rem;
  }

  .footer-links,
  .footer-address {
    h3 {
      font-size: 1.20rem;
      font-weight: 700;
      margin-bottom: 15px;
      //color: #284b91;
      color: #4f74c1;
    }

    ul {
      list-style: none;
      padding: 0;
      font-size: 17px;
      color: #9ca6bf;

      li {
        margin-bottom: 10px;
        color:  #b7c2d6;
        font-size: -1.05rem;

        i {
          margin-right: 8px;
          color: #b7c2d6;
        }

        a {
          color: #b7c2d6;
          text-decoration: none;
          transition: color 0.3s;

          &:hover {
            color: #4a6cf7;
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    font-size: 0.9rem;
    color: #777;
  }
}
