.scroll-to-top {
  position: fixed;
  bottom: 40px;
  left: 40px;
  background: none;     /* no circle */
  border: none;
  cursor: pointer;
  z-index: 2000;

  img {
    width: 45px;
    height: 45px;
  }
}
